@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@100;400;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
Html{
font-size: 62.5%;
/*background-color: #2c3e50;*/

}
.menu-container{
    background-color: #2c3e50;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding: 2rem 10rem;
    

}
.logo{
    font-size: 3rem;
}

.menu{
    display: flex;
    gap: 5rem;
    font-size: 1.5rem;
    align-items: center;

}
.home-container{
    background-color: #18bc9c;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
}
h1{
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: -0.5rem;
}
/* Iniciaras tu propio boilerplate para construir la estructura de tu proyecto y enlazar tus archivos de estilos (CSS).

Dentro de la carpeta assets encontrarás todas las imágenes necesarias para completar tu proyecto.

Esta web utiliza 2 tipografías: Montserrat y Lato.

La paleta de colores es:

#2c3e50
#18bc9c
#212529
Los íconos de redes sociales puedes obtenerlos de Font Awesome.

El subrayado incluye la estrella en las diversas secciones del sitio y es un reto entretenido, sin embargo, no trates de enfocarte en esa parte desde un inicio ya que no es el objetivo principal del reto :) */